.LeftSide, .RightSide{
height: 100%;
position: fixed;
z-index: 1;
top: 0;
overflow-x: hidden;
}

.LeftSide{
  margin-top: 20px;
  margin-left: 20px;
font-family: 'Baloo Bhaina 2', sans-serif;
  background-color: #DADADA;
  left: 0;
  width: 15%;
border-color: #AFAFAF;
border-style: solid;
border-radius: 2px;
}

.RightSide{
  background-color: #222222;
  margin-top: 20px;
  margin-right: 20px;


right: 0;
width: 80%;
}

.MinePhoto{
  margin-left: 18px;
padding: 80px;
 height: 12%;
  width: 40%;
  border-radius: 50%;
  scale: 200%;
}

.AboutMe{
text-align: center;
word-break: normal;
word-wrap: normal;



}
.Menu{

}
